<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campusconnect">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusConnect"
        tools:targetApi="31">
        <activity
            android:name=".Admin.UpdateTeacherSchedule"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateStudentSchedule"
            android:exported="false" />
        <activity
            android:name=".Admin.TeacherList"
            android:exported="false"
            android:label="@string/title_activity_teacher_list"
            android:theme="@style/Theme.CampusConnect.NoActionBar" />
        <activity
            android:name=".Admin.ExamSchedule"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateFees"
            android:exported="false" />
        <activity
            android:name=".Admin.SearchBatch"
            android:exported="false" />
        <activity
            android:name=".Admin.SubjectList"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateTeacher"
            android:exported="false" />
        <activity
            android:name=".Admin.SearchTeacher"
            android:exported="false" />
        <activity
            android:name=".Admin.RemoveTeacher"
            android:exported="false" />
        <activity
            android:name=".Admin.AddTeacher"
            android:exported="false" />
        <activity
            android:name=".Admin.SearchStudent"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".Admin.RemoveStudent"
            android:exported="false" />
        <activity
            android:name=".Admin.AddStudent"
            android:exported="false" />
        <activity
            android:name=".Admin.UpdateSemester"
            android:exported="false" />
        <activity
            android:name=".Admin.BatchesList"
            android:exported="false" />
        <activity
            android:name=".Admin.AddBatch"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".ParentLogin"
            android:exported="false" />
        <activity
            android:name=".TeacherLogin"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>