<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campusconnect">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusConnect"
        tools:targetApi="31">
        <activity
            android:name=".ExamSchedule"
            android:exported="false" />
        <activity
            android:name=".UpdateFees"
            android:exported="false" />
        <activity
            android:name=".SearchSubject"
            android:exported="false" />
        <activity
            android:name=".SubjectList"
            android:exported="false" />
        <activity
            android:name=".UpdateTeacher"
            android:exported="false" />
        <activity
            android:name=".TeacherList"
            android:exported="false"
            android:label="@string/title_activity_teacher_list"
            android:theme="@style/Theme.CampusConnect.NoActionBar" />
        <activity
            android:name=".SearchTeacher"
            android:exported="false" />
        <activity
            android:name=".RemoveTeacher"
            android:exported="false" />
        <activity
            android:name=".AddTeacher"
            android:exported="false" />
        <activity
            android:name=".UpdateSchedule"
            android:exported="false" />
        <activity
            android:name=".SearchStudent"
            android:exported="false" />
        <activity
            android:name=".UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".RemoveStudent"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".UpdateSemester"
            android:exported="false" />
        <activity
            android:name=".BatchesList"
            android:exported="false" />
        <activity
            android:name=".AddBatch"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".ParentLogin"
            android:exported="false" />
        <activity
            android:name=".TeacherLogin"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>